#number_clock{
	color: #0071D0;
	font-weight: bold;
	font-size: 80px;
  margin: 100px;
}
.slide {
  opacity: 0;
  z-index: 10;
  position: absolute;
  margin-top: 0px;
}

[id^='slide']:checked +.slide {
  opacity: 1;
  z-index: 100;
   
 }
 
body {
 background: #fff;
}
svg{
	stroke: #000;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
#rim {
 fill: none;
 stroke: #999;
 stroke-width: 3px;
}
.second-hand{
	stroke-width:3;
}
.minute-hand{
	stroke-width:8;
	stroke-linecap:round;
}
.hour-hand{
	stroke-width:12;
	stroke-linecap:round;
}
.hands-cover{
	stroke-width:3;
	fill:#fff;
}
.second-tick{
	stroke-width:3;
	fill:#000;
}
.hour-tick{
	stroke-width:8; //same as the miute hand
}
.second-label{
	font-size: 12px;
}
.hour-label{
	font-size: 24px;
}