.slide {
  opacity: 0;
  z-index: 10;
  position: absolute;
  margin-top: 0px;
}

[id^='slide']:checked +.slide {
  opacity: 1;
  z-index: 100;
   
 }

input{
  width:50px;
}
 
body {
 background: #fff;
}
