.zone-1{
  position:absolute;
  height:300px;
  width:300px;
  border: solid 2px black;
}

.zone-2{
  position:absolute;
  left: 350px;
  height:800px;
  width:800px;
  border: solid 2px black;
}

.ball{
    position: absolute;
    
    height: 80px;
    width: 80px;
    background: violet;
    border: 1px solid;
    border-radius: 45px;
    cursor: pointer;
}

.slide {
  opacity: 0;
  z-index: 10;
  position: absolute;
  margin-top: 0px;
}

[id^='slide']:checked +.slide {
  opacity: 1;
  z-index: 100;
   
 }

input{
  width:50px;
}
 
body {
 background: #fff;
}
